// Primary Colors
$primary-pink: #ff5f5f;
$secondary-pink: #e87474;

$pink-btn: #ae3778;

$primary-red: #f11d50 !default;
$dark-red: #a4243f;
$primary-yellow: #fad77f;


//  Util Colors
$grey: #9e9e9e;
$white: #fff;
$black: #000;
